.heading
{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px orange;
}
.note
{
    font-size: 15px;
    color:black;
}

.footer
{
    width:100%;
    background-color:lightskyblue;
    color:black;
    text-align:center;
    bottom:0;
    position:fixed;
    line-height:3;
}

canvas{
    border:5px solid black;
    border-radius: 20px;
    box-shadow:5px 5px 5px orange;
}